hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista_rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-evenly;
        padding: 3em 2em;
    }

    .lista_rodape {
        display: block;
        font-size: 14px;
    }

    .rodape_titulo {
        font-size: 24px;
    }

    .lista_rodape-titulo {
        text-transform: uppercase;
        margin-bottom: 2em;
        color: var(--cinza-claro);
    }

    .lista_rodape-item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .lista_rodape-link {
        color: var(--cinza-escuro);
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) {
    .lista_rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}